<% content_for :head do %>
  <%= stylesheet_pack_tag 'landing_search_app', media: 'all' %>
  <%= javascript_pack_tag 'landing_search_app' %>
<% end %>

<div class="get-started">
  <div class="container">
    <div class="title"><span>Бронирование отелей</span>Поиск самых выгодных предложений</div>
    <div id="landing-search-app"></div>
  </div>
</div>

<%= render 'advantages' %>
<%= render 'latest_offers' %>
<%= render 'reviews' %>
<%= render 'front_slider_footer' %>

<div class="subscription">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="subscription-info">
          Уведомления <span class="subs-logo">Azbuka<span>Hotels</span>.ru</span> об акциях и</br>
          специальных предложениях <span class="subs-marked">со скидкой до 60%</span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-email">
          <input placeholder="Ваш email" type="email">
          <button>Подписаться</button>
        </div>
      </div>
    </div>
  </div>
</div>

