<% content_for :head do %>
  <%= stylesheet_link_tag 'landing_page', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'landing_search_app', media: 'all' %>
  <%= javascript_pack_tag 'landing_search_app' %>
<% end %>

<div class="get-started">
  <div class="container">
    <div class="title"><span>Бронирование отелей</span>Поиск самых выгодных предложений</div>
    <div id="landing-search-app"></div>
  </div>
</div>

<%= render 'advantages' %>
<%= render 'latest_offers' %>
<%= render 'reviews' %>
<%= render 'front_slider_footer' %>



