<% content_for :head do %>
  <%= stylesheet_link_tag 'hotels', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'hotel_app', media: 'all' %>
  <%= javascript_pack_tag 'hotel_app' %>
<% end %>

<div id='hotel-app'>
  <app>
    <%= render 'hotels/title_bar' %>
    <template slot="info">
      <%= render 'hotels/info' %>
    </template>
    <%= render 'hotels/services' %>
  </app>
</div>
